#root {
  width: 100%;
  
}

body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lucida Console", "Courier New", monospace;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
/*stuff for the header*/
header{
  margin: 0;
  padding: 0;
  border: 0;
  
}
/*does the hover stuff for the buttons*/

a:link, a:visited {
  height: 25px;
  background-color: #203166;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size: 20px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

a:hover, a:active {
  background-color: #404b6b;
}




.HomePage{
  /*background-color: rgb(207, 156, 80);*/
  /*background-image: url(https://wallpaperaccess.com/full/2825710.gif);*/
  background-image: url("./beach background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color:rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;

  

  font-size: 50px; 
  height: 93.65vh; 
  /*
  display: flex;
  flex-direction: row;
  */
}


.Projects{
  margin: 0;
  padding: 0;
}

#project1{
  height: 200vh;
  margin: 0;
  padding: 0;
  background-color: #8a99c7;

}

#Abt{
  width:100%;
  height: 93.65vh; 
  background-image: url("./nyc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:rgb(242, 242, 242);

  display: flex;
  flex-direction: row;
  
}

#Abt1{
  width: 35%;
  
}
#Abt2{
  width: 65%;
  font-size: 20px; 
  
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#pa{
  width:85%;
}

img {
  width: 440px;
  height: 635px;
}


.thumbs-wrapper{
  display: none;
}
.carousel-root{
  height: 300px;
  width: 700px;
  
  display:inline-block
}
.carousel-slider{
  height: 300px;
  width: 700px;
}

.slide_selected{
  height: 300px;
  width: 700px;
}
.slider-wrapper{
  height: 300px;
  width: 700px;
}
.slide{
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction: column;
  
}

#CA{
  height: 330px;
  width: 800px;
  /*background-color: #89898995;*/
  background-color: #48484895;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slide1{
  height: 300px;
  width: 700px;
  display: flex;
  align-items: center;


}

#pic1{
  background-color: #00eeff;
  background-image: url("./images.jpg");
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  height: 330px;
  width: 350px;
}

#pic2{
  background-image: url("./FROST\ PIC.png");
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  height: 330px;
  width: 350px;
}


#pic3{
  background-image: url("./dunks.png");
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  height: 330px;
  width: 350px;
}

#pic4{
  background-image: url("./ewb.png");
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  height: 330px;
  width: 350px;
}

#txt1{
  background-color: #464646;
  
  flex: 1;

  height: 330px;
  width: 350px;

  font-size: 20px; 

}

#text1size{
  font-size: 25px; 
  font-weight: bold;
  color: rgb(207, 156, 80);
}
#t1s{
  font-size: 15px; 
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  bottom: 20px;
  transform: translateY(50%);
  z-index: 1;
  color: #fff;
  font-size: 2rem;
}

.carousel-control-prev {
  left: 50px;
}

.carousel-control-next {
  right: 50px;
}
#Contact{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-image: url("./wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  height: 93.6vh;
  font-size: 25px;
  font-weight: bold;
}



#TextBox{
  width: 900px;
  background-color: hsla(0, 0%, 34%, 0.602);
  height: 200px;
  resize: none;
  outline: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 15px;
  color: #e9e9e9;
  font-weight: 10;
}

#TextBox2{
  background-color: hsla(0, 0%, 34%, 0.602);
  height: 3.5vh;
  width: 40vw;
  resize: none;
  outline: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 15px;
  color: #e9e9e9;
  font-weight: 10;
}

#Email{
  width: 59.5vw;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

#send{
  
  background-color:hsla(0, 0%, 34%, 0);
  border-radius: 12px;
  font-size: 25px;
  width: 100px;
  height: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgba(33, 33, 33, 0.652);
  font-weight: bold;
  border: 4px solid rgba(33, 33, 33, 0.652);
  cursor: pointer;
}
#send:hover{
  background-color: hsla(0, 0%, 53%, 0.602);
}
#send:active {
  background-color: hsla(0, 0%, 53%, 0.602);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#OtherContacts{
  width: 100vw;
  height: 10vh;
  
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -30px;
}

#Link{
  background-color:hsla(0, 0%, 34%, 0);
  border-radius: 12px;
  font-size: 25px;
  width: 95px;
  height: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  /*color: rgba(33, 33, 33, 0.652);*/
  color: rgba(255, 255, 255, 0.652);
  font-weight: bold;
  border: 4px solid rgba(255, 255, 255, 0.652);
  cursor: pointer;
  margin: 10px;
  position:relative;
  left:-10px;
}
#Link:hover{
  background-color: hsla(0, 0%, 53%, 0.602);
}

#EmailMe{
  background-color:hsla(0, 0%, 34%, 0);
  border-radius: 12px;
  font-size: 25px;
  width: 50px;
  height: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgba(255, 255, 255, 0.652);
  font-weight: bold;
  border: 4px solid rgba(255, 255, 255, 0.652);
  cursor: pointer;
  position:relative;
  left:-12px;
}
#EmailMe:hover{
  background-color: hsla(0, 0%, 53%, 0.602);
}


#GitHub{
  background-color:hsla(0, 0%, 34%, 0);
  border-radius: 12px;
  font-size: 25px;
  width: 70px;
  height: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  /*color: rgba(33, 33, 33, 0.652);*/
  color: rgba(255, 255, 255, 0.652);  
  font-weight: bold;
  border: 4px solid rgba(255, 255, 255, 0.652);
  cursor: pointer;
  margin: 10px;
  position:relative;
  left:-13.5px;
  
}
#GitHub:hover{
  background-color: hsla(0, 0%, 53%, 0.602);
}

#Contacttxt{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.652);  
  
}


