#ProjPage{
  height: 93.62vh;
  width: 100vw;
  background-image: url("./44.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h3{
  font-size: 30px;
}

h4{
  font-size: 40px;
  color: #ffffff;
}
h5{
  font-size: 28.5px;
}

#projects-container {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100vw;
  
  color: rgb(255, 255, 255);
  font-size: 15px;
}

#proj1,
#proj2,
#proj3,
#proj4 {
  width: 310px;
  height: 450px;
  background-color: hsla(0, 0%, 19%, 0.602);
  position: relative;
  top: 80px;
  margin: 10px;
  font-size: 18px;

}




#proj1:hover,
#proj2:hover,
#proj3:hover,
#proj4:hover {
  background-color: hsla(0, 0%, 53%, 0.602);
  
}

#proj1 #proj1img,
#proj2 #proj2img,
#proj3 #proj3img,
#proj4 #proj4img {
  height: 300px;
  width: 330px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #ffffff;
}

#proj1 #proj1img {
  background-image: url("./hompic.png");
}

#proj2 #proj2img {
  background-image: url("./HillCipher.png");
}

#proj3 #proj3img {
  background-image: url("./AYTO.png");
  background-color: hsla(0, 0%, 19%, 0.602);
}

#proj4 #proj4img {
  background-image: url("./Sequence.png");
  background-size: cover;
}

#proj1 h1,
#proj2 h1,
#proj3 h1,
#proj4 h1,
#proj1 p1,
#proj2 p1,
#proj3 p1,
#proj4 p1 {
  margin: 10px;
}




#gittxt1,
#gittxt2,
#gittxt3,
#gittxt4 {
  display: none;
  height: 19px;
  width: 241px;
  display: flex;
  align-items: center;
  position: relative;
  top: -515px;
  color: #ffffff;

}
#gittxt1{
  left: 65px;
}

#gittxt2{
  left: 450px;
}

#gittxt3{
  left: 835px;

}
#gittxt4{
  left: 1220px;

}
#OC{
  width: 100vw;
  height: 10vh;
  
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 60px;
}

#GitHub{
  background-color:hsla(0, 0%, 34%, 0);
  border-radius: 12px;
  font-size: 25px;
  width: 70px;
  height: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  /*color: rgba(33, 33, 33, 0.652);*/
  color: rgba(255, 255, 255, 0.652);  
  font-weight: bold;
  border: 4px solid rgba(255, 255, 255, 0.652);
  cursor: pointer;
  margin: 10px;
  position:relative;
  left:-13.5px;  
  top: 20px;
}



